@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>StalkHard - Parâmetros</title>
    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/Content/signin.css" rel="stylesheet">

    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <script>
        // This is called with the results from from FB.getLoginStatus().
        function statusChangeCallback(response) {
            console.log('statusChangeCallback');
            console.log(response);
            // The response object is returned with a status field that lets the
            // app know the current login status of the person.
            // Full docs on the response object can be found in the documentation
            // for FB.getLoginStatus().

            if (response.status === 'connected') {
                // Logged into your app and Facebook.
                testAPI();
                document.getElementById('btnCriar').removeAttribute('disabled');
                document.getElementById('hiddenAccessToken').value = response.authResponse.accessToken;
            } else {
                // The person is not logged into your app or we are unable to tell.
                document.getElementById('btnCriar').setAttribute('disabled', 'true');
                document.getElementById('status').innerHTML = 'Faça login neste aplicativo.';
                document.getElementById('hiddenAccessToken').value = '';
                document.getElementById('inputUserFacebook').value = '';
                document.getElementById('hiddenUserFacebook').value = '';
            }
        }

        // This function is called when someone finishes with the Login
        // Button.  See the onlogin handler attached to it in the sample
        // code below.
        function checkLoginState() {
            FB.getLoginStatus(function (response) {
                statusChangeCallback(response);
            });
        }

        window.fbAsyncInit = function () {
            FB.init({
                appId: '254366858409178',
                cookie: true,  // enable cookies to allow the server to access
                // the session
                xfbml: true,  // parse social plugins on this page
                version: 'v2.10' // use graph api version 2.8
            });

            // Now that we've initialized the JavaScript SDK, we call
            // FB.getLoginStatus().  This function gets the state of the
            // person visiting this page and can return one of three states to
            // the callback you provide.  They can be:
            //
            // 1. Logged into your app ('connected')
            // 2. Logged into Facebook, but not your app ('not_authorized')
            // 3. Not logged into Facebook and can't tell if they are logged into
            //    your app or not.
            //
            // These three cases are handled in the callback function.

            FB.getLoginStatus(function (response) {
                statusChangeCallback(response);
            });
        };

        // Load the SDK asynchronously
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.10&appId=254366858409178";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        // Here we run a very simple test of the Graph API after login is
        // successful.  See statusChangeCallback() for when this call is made.
        function testAPI() {
            console.log('Bem vindo! Obtendo sua informação...');
            FB.api('/me', function (response) {
                console.log('Login bem-sucedido para: ' + response.name);
                document.getElementById('status').innerHTML = 'Obrigado por fazer login, ' + response.name + '!';
                document.getElementById('inputUserFacebook').value = response.name;
                document.getElementById('hiddenUserFacebook').value = response.name;
            });
        }
    </script>

    <div id="fb-root"></div>

    <div class="container">
        <form method="post" class="form-signin" action="/Home/Create">
            <img src="~/Images/logo.png" alt="StalkHard" class="img-circle" style="width:100px;margin-left:100px;">
            <h3 class="form-signin-heading" style="text-align:center;">
                StalkHard 
                <button type="button" style="background-color:#eee" class="btn btn-default btn-xs" data-container="body" data-toggle="popover" data-placement="left" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                </button>
            </h3>

            <div>
                <div style="float:left;margin-left:20px;">
                    <label for="inputUserFacebook" class="sr-only">Usuário do Facebook</label>
                    @Html.TextBox("inputUserFacebook", "", new { @class = "form-control", @placeholder = "/stalkhard", @required = true, @disabled = true })
                </div>
                <div style="float:left;margin-top:6px;">
                    <img src="~/Images/logo-facebook.png" alt="Facebook" @*class="img-circle"*@ style="width:30px;margin-left:5px;">
                </div>
            </div>

            <div>
                <div style="float:left;margin-left:20px;margin-bottom:15px;">
                    <label for="inputUserTwitter" class="sr-only">Usuário do Twitter</label>
                    @Html.TextBox("inputUserTwitter", "", new { @class = "form-control", @placeholder = "@stalkhard", @required = true, @autofocus = true })
                </div>
                <div style="float:left;margin-top:6px;">
                    <img src="~/Images/logo-twitter.png" alt="Twitter" @*class="img-circle"*@ style="width:30px;margin-left:5px;">
                </div>
            </div>

            <button id="btnCriar" class="btn btn-lg btn-primary btn-block" type="submit">Criar</button>

            <h5 style="text-align:center;margin-top:50px;">
                Para uma experiência mais completa, entre com a sua conta do Facebook:
            </h5>
            <div class="fb-login-button" data-width="300" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" 
                 data-auto-logout-link="true" data-use-continue-as="false" data-scope="@ViewData["Permissoes"]" onlogin="checkLoginState">
            </div>
            <div id="status"></div>
            <div>
                @Html.Hidden("hiddenAccessToken")
            </div>
            <div>
                @Html.Hidden("hiddenUserFacebook")
            </div>

            @*<button class="btn btn-block">
                <img alt="Botão Iniciar sessão" src="https://g.twimg.com/dev/sites/default/files/images_documentation/sign-in-with-twitter-gray.png">
            </button>*@
        </form>
    </div>

    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
